<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>edit page</title>
</head>
<body>
	<h2>編集ページ</h2>
	<p class="alert" th:text="${msg}">this is alert</p>
	<form method="post" action="/edit" th:object="${dataObject}">
		<input type="hidden" name="id" th:field="*{id}">
		<table>
			<tr>
				<div>名前 : <input type="text" name="name" th:field="*{name}" th:errorclass="err"></div>
				<div th:if="${#fields.detailedErrors('name')}" th:errors="*{name}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>年齢 : <input type="text" name="age" th:field="*{age}"></div>
				<div th:if="${#fields.detailedErrors('age')}" th:errors="*{age}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>メール : <input type="text" name="mail" th:field="*{mail}"></div>
				<div th:if="${#fields.detailedErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>メモ</div>
				<div><textarea name="memo" cols="20" rows="5" th:field="*{memo}"></textarea></div>
			</tr>
			<tr />
			<tr><td></td><td><input type="submit" value="submit"></td></tr>
		</table>
	</form>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var message = [[${msg}]];
			if(message != null) alert(message);
		/*]]>*/
	</script>
</body>
</html>