<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
h1{ font-size: 18pt; }
body{ font-size:13pt; }
postedResult{border:1px black solid; margin: 30px; padding:20px;}
</style>
</head>
<body>
	<h1>hello sample page</h1>
	<pre th:text="${data}"></pre>
	<form method="post" action="/" th:object="${formModel}">
		<table>
			<tr>
				<div>名前 : <input type="text" name="name" th:field="*{name}" th:errorclass="err"></div>
				<div th:if="${#fields.detailedErrors('name')}" th:errors="*{name}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>年齢 : <input type="text" name="age" th:field="*{age}"></div>
				<div th:if="${#fields.detailedErrors('age')}" th:errors="*{age}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>メール : <input type="text" name="mail" th:field="*{mail}"></div>
				<div th:if="${#fields.detailedErrors('mail')}" th:errors="*{mail}" th:errorclass="err"></div>
			</tr>
			<tr />
			<tr>
				<div>メモ</div>
				<div><textarea name="memo" cols="20" rows="5" th:field="*{memo}"></textarea></div>
			</tr>
			<tr />
			<tr><td></td><td><input type="submit" value="submit"></td></tr>
		</table>
	</form>
	<p><a href="/find">検索</a></p>
	<table>
		<tr><td>ID</td><td>名前</td><td>年齢</td><td>メモ</td><td></td><td></td></tr>
		<tr th:each="obj : ${datalist}">
			<form method="post" id="deleteForm" th:action="@{/delete/{id}(id=${obj.id})}">
				<td th:text="${obj.id}" id="id"></td>
				<td th:text="${obj.name}" id="name"></td>
				<td th:text="${obj.age}" id="age"></td>
				<td th:text="${obj.mail}" id="mail"></td>
				<td th:text="${obj.memo}" id="memo"></td>
				<td id="editBtn"><a th:href="@{/{id}(id=${obj.id})}">edit</a></td>
				<td><Button id="deleteBtn">delete</Button></td>
			</form>
		</tr>
	</table>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var message = [[${msg}]];
			if(message != null) alert(message);

			var deleteForm = document.getElementById('deleteForm');
			var deleteBtn = document.getElementById('deleteBtn');
			deleteBtn.addEventListener('click', function(){
				var ret = confirm("削除します。よろしいですか？");
				if(ret) {
					deleteForm.submit();
				}
			}, false)
		/*]]>*/
	</script>
</body>
</html>