<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
h1{ font-size: 18pt; }
body{ font-size:13pt; }
postedResult{border:1px black solid; margin: 30px; padding:20px;}
</style>
</head>
<body>
	<h1>hello sample page</h1>
	<pre th:text="${data}"></pre>
	<form method="post" action="/" th:object="${formModel}">
		<table>
			<tr><td>名前</td><td><input type="text" name="name" th:value="${name}"></td></tr>
			<tr><td>年齢</td><td><input type="text" name="age" th:value="${age}"></td></tr>
			<tr><td>メール</td><td><input type="text" name="mail" th:value="${mail}"></td></tr>
			<tr><td>メモ</td><td><textarea name="memo" th:text="${memo}" cols="20" rows="5"></textarea></td></tr>
			<tr><td></td><td><input type="submit" value="submit"></td></tr>
		</table>
	</form>
	<table>
		<tr><td>ID</td><td>名前</td><td>年齢</td><td>メモ</td></tr>
		<tr th:each="obj : ${datalist}">
			<td th:text="${obj.id}"></td>
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.age}"></td>
			<td th:text="${obj.memo}"></td>
		</tr>
	</table>
	<script th:inline="javascript">
		/*<![CDATA[*/
			var message = [[${msg}]];
			if(message != null) alert(message);
		/*]]>*/
	</script>
</body>
</html>